.button
{
-fx-background-color : #1C3738;
-fx-text-fill : #e7e5e5;
}
.button:hover{
-fx-background-color : #325f61;
}
-hbox-button:hover{
    -fx-background-color : #325f61;
}
-jfx-button:hover{
    -fx-background-color : pink;
}

.button:pressed
{
-fx-text-fill : #1C3738;
-fx-background-color : #e7e5e5a0;
}

.scroll-pane {
    -fx-background-color:  white;
}
.highlightedRow{
    -fx-background-color: #325f61;
    -fx-background-insets: 0, 1, 2;
    /*-fx-background: -fx-accent;*/
    /*-fx-text-fill: -fx-selection-bar-text;*/
}

.highlightedRow .text{
    -fx-strikethrough: true;
    -fx-text-fill: rgb(58, 58, 58);
}
.highlightedRow .glyph-icon{
    -fx-fill: black;
}
.clickedButton{
    -fx-background-color: linear-gradient(to right,#1C3738, rgba(255, 255, 255, 0.45));
}
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:#F4FFF8;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:   #1C3738;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color:  #F4FFF8;
}
.glyph-icon {
    -glyph-size:28px;
    -fx-cursor: hand;
}
.glyph-icon:hover{
    -glyph-size:32px;
    -fx-fill: rgb(20, 178, 10);
}
.text-field {
     -fx-background-color: -fx-text-box-border, -fx-background ;
     -fx-background-insets: 0, 0 0 1 0 ;
     -fx-background-radius: 0 ;
 }
.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}
.table-view .context-menu{
    -fx-background-color: white;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    /*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}
.context-menu:selected{
    -fx-background-color: #325f61;
    -fx-text-fill: black;
}
.table-view .menu-item:focused {
    -fx-background-color: #325f61;
    -fx-text-fill: black;
}
.table-view .context-menu:focused {
    -fx-text-fill: #ffffff;
    -fx-background-color : #1C3738;
}
.table-view .menu-item:hover{
    -fx-background-color: #325f61;
    -fx-text-fill: black;
}
.table-view .menu-item{
    -fx-text-fill: #ffffff;
}
.date-picker .cell {
    -fx-background-color: white;
}
.date-picker .text-field{
    -fx-background-color: white;
}
.date-picker {
    -fx-border-color: rgba(0, 0, 0, 0.27);
}

.date-picker .arrow-button{
    -fx-background-color: #ffffff;
    -fx-opacity: 0.7;
}

